---
import GlobalStyles from "../components/GlobalStyles.astro";

interface Props {
    title?: string;
    description?: string;
    ogImagePath?: string;
}

const {
    title = "Kestrel",
    description = "A modern platform for structured, real-time communication.",
    ogImagePath = "/og/banner.png",
} = Astro.props;

const canonicalUrl = Astro.url.origin;

const ogImage = new URL(ogImagePath, canonicalUrl).toString();
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>{title}</title>
        <meta name="description" content={description} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="theme-color" content="#6e6ade" />
        <meta name="color-scheme" content="dark light" />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={ogImage} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={ogImage} />

        <GlobalStyles />
    </head>

    <body>
        <slot />
    </body>
</html>
